* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cl-title: rgba(229, 49, 112, 255);
    --cl-title2: rgba(255, 255, 254, 255);
    --cl-square: rgba(15, 14, 23, 255);
    --cl-subtitle: rgb(83, 173, 201);

}

body {
    font-family: 'Fredoka', sans-serif;
    max-width: 1170px;
    margin: auto;
    width: 80%;

}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.title {
    color: var(--cl-title);
    text-align: center;
    padding: 2rem 0;
}

.square {
    width: calc(100% / 3 - 16px);
    height: 97px;
    background-color: var(--cl-square);
    margin-top: 2rem;
    padding-right: 2rem;
    float: left;
    margin-right: 16px;

}

.center {
    float: left;
}

.dx {
    margin-right: 16px;
}

.description {
    clear: right;
    padding: 1rem 2REM;
}


img {
    width: 99px;
    height: 97px;
    float: left;
}

h3,
.occupation {
    color: var(--cl-title2);
}

.email {
    color: var(--cl-subtitle);
}